<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--Header -->
<div id="header" class="d-flex bg-dark">
    <div id="header_username" class="p-2 text-white font-weight-bold"></div>
    <div id="header_roles" class="p-2 w-100 text-white"></div>
    <a class="p-2 text-secondary text-right text-decoration-none" th:href="@{/logout}"> Logout </a>
</div>
<!--Left nav panel-->
<div class="row">
<div class="col-2 mt-3 p-0">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-item nav-link active ml-2" data-toggle="pill" href="#user_panel" role="tab" aria-controls="user_panel" aria-selected="true">User</a>
    </div>
</div>
<!--  Right under panel where table  -->
    <div class="col-10 p-0">
        <div class="tab-content bg-light p-2">
            <div class="tab-pane fade show active pl-3" style="height: 700px" id="user_panel"
                 role="tabpanel" aria-labelledby="user_panel">
                <h1> User information-page </h1>
                <div class="pl-3 pt-1 d-flex border-top border-left border-right"><h3> About user </h3></div>
                <div class="bg-white border p-3">
                    <table class="table table-striped border-top">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Age</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="user_info"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/rolesList.js"></script>
<script src="/userInfo.js"></script>
<script src="/showHeader.js"></script>

</body>
</html>